
@{
    ViewBag.Title = "InformationNgayNghi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .two {
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        border: none;
        border-radius: 10px;
        background-color: antiquewhite;
        position: relative;
        padding: 0;
    }

        .two a {
            text-decoration: none;
            display: block;
            padding: 10px 15px;
        }

    button {
        margin: 0 !important;
    }

    a {
        color: darkslateblue;
        display: block;
        padding: 10px;
        text-decoration: none;
    }

    .one {
        padding: 0;
        border-radius: 10px;
        background-color: aliceblue;
        font-weight: 800;
        color: darkslateblue;
    }

    table, th, td {
        border: 2px solid gray;
        padding: 10px;
    }

    .two a {
        color: black;
    }

    .one {
        position: relative;
        margin-bottom: 10px !important;
    }

    .three {
        color: black;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        border: 2px solid black;
        padding: 7px 10px;
        background-color: antiquewhite;
    }

        .three a {
            text-decoration: none;
            color: black;
        }

    .one {
        display: flex;
        justify-content: center;
        border: none;
    }

    .table_but a {
        color: black;
    }

    th, td {
        padding: 10px 30px;
    }

    .menuSearch {
        float: right;
    }

    .button a {
        color: darkslateblue;
        display: block;
        padding: 10px;
    }

    .button {
        padding: 0;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        width: 100%;
    }

    .title {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 0;
    }

    button {
        margin: 10px !important;
    }

    th, td {
        padding: 5px;
        font-size: 14px;
        text-align: center;
    }

    table {
        width: 100%;
        margin-top: 0px !important;
        border: none;
    }

    td {
        padding: 5px 10px !important;
        border: 1px solid lightgray;
    }

    th {
        border: 1px solid black;
    }

    .table_but {
        font-size: 16px;
        border: none;
        padding: 0;
        background-color: white;
        border-radius: 15px;
        transition: 0.3s;
    }

        .table_but:hover {
            background-color: #d2faf8;
        }

        .table_but a {
            text-decoration: none;
            padding: 6px 10px;
            display: block;
        }

        .table_but i {
            font-size: 14px;
        }

    th, td {
        padding: 10px;
    }

    .table_but a {
        color: black;
    }

    th {
        background-color: lightgray;
    }

    .header {
        box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
        margin-bottom: 16px;
        background-color: white;
    }

    .title {
        text-align: center;
        background-color: lightblue;
        margin: 0;
        margin-bottom: 10px;
        padding: 10px 0;
    }

    .table {
        max-height: calc(100% - 146px);
        overflow-y: auto;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .two {
        margin: 0px!important;
        height: 38.4px;
    }

    .one {
        margin: 0 16px;
    }

    .Modal.open {
        display: flex !important;
    }

    .Modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        z-index: 2;
    }

    .modal-container {
        background-color: #fff;
        width: 420px;
        max-width: calc(100% - 32px);
        position: relative;
        animation: modalFaceIn ease 0.5s;
        border-radius: 10px;
        top: -15%;
    }

    .modal-header {
        background-color: #2d829d;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: #fff;
        letter-spacing: 5px;
        font-weight: 400;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .modal-close {
        position: absolute;
        color: #fff;
        right: 0;
        top: 0;
        padding: 12px 10px;
        border-top-right-radius: 10px;
    }

        .modal-close:hover {
            opacity: 0.7;
            cursor: pointer;
        }

    .modal-content {
        padding: 16px 16px 0 26px;
        height: 60px;
    }

    .modal-input {
        margin: 0;
        font-size: 19px;
        font-weight: bold;
        font-family: segoe ui;
    }

    input.modal-input {
        margin-bottom: 23px;
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        padding: 11px;
    }

    #buttonCo,
    #buttonKhong {
        width: 42%;
        font-size: 15px;
        padding: 17px 0;
        color: #fff;
        background-color: #2d829d;
        border: none;
        cursor: pointer;
        font-weight: 500;
        opacity: 1;
        border-radius: 10px;
    }

        #buttonCo:hover,
        #buttonKhong:hover {
            opacity: 0.8;
        }

    .modal-footer {
        font-size: 15px;
        padding: 16px;
        text-align: right;
        display: flex;
        justify-content: space-evenly;
    }

        .modal-footer a {
            color: #2196F3;
        }
    .webkit {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;   
        word-break:break-word;
    }

    @@keyframes modalFaceIn {
        from {
            transform: translateY(-130px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
</style>
<body>
    <div class="header">

        <h2 class="title">Chi tiết ngày nghỉ</h2>
        
        <div style="padding: 6px 16px; display: flex; align-items:center;"><button class="two"><a href="@Url.Action("QLNgayNghi", "Home")"><i class="fa-solid fa-reply" style="color: darkblue;"></i></a></button><button class="one"><a href="@Url.Action("AddNgayNghi","NgayNghi",new {@id = @ViewBag.id})"><i class="fa-solid fa-plus" style="margin-right: 5px;"></i>Thêm</a></button></div>

    </div>
<div class="table">
    <table border="1" style="border-collapse:collapse;">
        <tr>
            <th>Mã nhân viên</th>
            <th colspan="4" style="text-align:center;">Tên nhân viên</th>
        </tr>
        <tr>
            <td style="text-align:center; border-bottom:none;">@ViewBag.id</td>
            <td colspan="4" style="text-align:center; border-bottom:none;">@ViewBag.HoTen</td>
        </tr>
        <tr>
            <th style="width:120px;">Mã ngày nghỉ</th>
            <th>Ngày Nghỉ</th>
            <th>Lý Do</th>
            <th>Ghi chú</th>
            <th style="width:125px;">Tổng số bản ghi: @ViewBag.lgth</th>
        </tr>
        @{

            for (int i = 0; i < ViewBag.lgth; i++)
            {
                <tr class="rowInformation">
                    <td class="Child_RowInformation">@Model[i].MaNgayNghi</td>
                    @{
                        string ngayNghi = String.Format("{0:dd/MM/yyyy}", @Model[i].NgayNghiDate);
                    }
                    <td>@ngayNghi</td>
                    <td><p class="webkit">@Model[i].LyDo</p></td>
                    <td><span><p class="webkit">@Model[i].GhiChu</p></span></td>
                    <td>
                        <div style="display: flex; justify-content: center;">
                            <button class="table_but"> <a href="@Url.Action("UpdateNgayNghi","NgayNghi",new {@id = @Model[i].MaNgayNghi})"><i class="fa-solid fa-pen" style="color: blue;"></i></a></button>
                            <button class="table_but" style="cursor: pointer;" id="buttonRemoveNgayNghi"><i class="fa-solid fa-trash" style="color: red; padding: 8px 10px; display: block;"></i></button>
                            @*  <a href="@Url.Action("RemoveNgayNghi","NgayNghi",new {@id = @Model[i].MaNgayNghi})"> *@
                            </div>
                    </td>
                </tr>
            }

        }
        @{
            if (ViewBag.lgth == 0)
            {
                <tr>
                    <td colspan="11" style="text-align:center;">Không tồn tại bản ghi nào</td>
                </tr>
            }
        }
    </table>
</div>
<div class="Modal">
    <!-- model container -->
    <div class="modal-container">
        <div class="modal-close">
            <i class="fa-solid fa-xmark" style="font-size"></i>
        </div>
        <div class="modal-header">
            <i class="fa-solid fa-triangle-exclamation"></i>
            Thông báo!
        </div>
        <!-- model-content -->
        <div class="modal-content">
            <p class="modal-input">
                Bạn chắc chắn muốn xóa ngày nghỉ này?
            </p>
        </div>
        <!-- modal footer -->
        <footer class="modal-footer">
            <button id="buttonCo">Có</button>
            <button id="buttonKhong">Không</button>
        </footer>
    </div>
</div>
</body>
<script>
    const buttonRemoveElement = document.querySelectorAll("#buttonRemoveNgayNghi");
    const modalElement = document.querySelector('.Modal');

    const modalClose = document.querySelector('.modal-close');

    const modalContainer = document.querySelector('.modal-container');

    const buttonCoElement = document.getElementById("buttonCo");

    const buttonKhongElement = document.getElementById("buttonKhong");

    function showDialog() {
        modalElement.classList.add('open');
    }

    function hiddenDialog() {
        modalElement.classList.remove('open');
    }
    function checkCoKhong(item) {
        var parentElement = item.closest(".rowInformation");
        buttonCoElement.addEventListener("click", function coClick(event) {
            event.stopPropagation();
            hiddenDialog();
            window.location = `/NgayNghi/RemoveNgayNghi/${parentElement.querySelector(".Child_RowInformation").textContent}`;
        });
        buttonKhongElement.addEventListener("click", function khongClick(event) {
            event.stopPropagation();
            hiddenDialog();
            console.log(parentElement.querySelector(".Child_RowInformation").textContent);
        });
    }
    for (let item of buttonRemoveElement) {
        item.addEventListener("click", (event) => {
            event.stopPropagation();
            showDialog();
            checkCoKhong(item);
        });
    }
    modalClose.addEventListener('click', hiddenDialog);
    modalElement.addEventListener('click', hiddenDialog)
    modalContainer.addEventListener('click', function (event) {
        event.stopPropagation();
    });
</script>

